# Payload vars
PORT=3000
DATABASE_URI=mongodb+srv://65c7e07a496ed3f8f68afa4a-prod:eacb1142005bfcd06060dae14a2ee2@65c7e07a496ed3f8f68afa4.4tvmqsg.mongodb.net/65c7e07a496ed3f8f68afa4a-prod
PAYLOAD_SECRET=toronto-lootout
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
STRIPE_SECRET_KEY=
PAYLOAD_PUBLIC_STRIPE_IS_TEST_KEY=true
STRIPE_WEBHOOKS_SIGNING_SECRET=
PAYLOAD_PUBLIC_DRAFT_SECRET=demo-draft-secret
REVALIDATION_KEY=demo-revalation-key

# Next.js vars
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_IS_LIVE=
NEXT_PRIVATE_DRAFT_SECRET=demo-draft-secret
NEXT_PRIVATE_REVALIDATION_KEY=demo-revalation-key
